/* Navbar */
.navbar {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.navbarRight {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Sidebar Overlay */
.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: var(--sidebar-bgColor);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebarOverlay.open {
  transform: translateX(0);
}

/* Sidebar Content */
.sidebarContent {
  position: relative;
  height: 100%;
  padding: 20px;
}

/* Close Button */
.sidebarClose {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Design */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .navbarRight {
    padding: 0;
  }
}
