.navbar {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarFlex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.navbarRight {
  display: flex;
  align-items: center;
}
