.createBudgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f5f9;
  border-radius: 5px;
  padding: 30px;
  height: 150px;
}

.createBudgets:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.createBudgets p {
  font-size: 30px;
  font-weight: bold;
}

.createBudgets h2 {
  font-size: 20px;
  font-weight: bold;
}
