.navbar {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarRight {
  display: flex;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .navbar h1 {
    font-size: 1.2rem;
  }

  .navButton {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}
