.expenseTable {
  margin: 0 auto;
  overflow-x: auto; /* For horizontal scrolling on smaller screens */
  max-width: 100%; /* Ensure the table doesn't overflow its container */
  border-radius: 5px;
  margin: 30px 0;
}

/* Table Styling */
.expenseTable table {
  width: 100%;
  border-collapse: collapse;
}

/* Table Header */
.expenseTable table thead {
  background-color: var(--content-bgColor); /* Blue header */
}

.expenseTable table thead th {
  padding: 12px;
  font-size: 16px;
  text-align: left;
  border: 1px solid var(--table-borderColor);
  text-align: center;
}

/* Table Rows */
.expenseTable table tbody tr {
  border: 1px solid var(--table-borderColor);
  transition: background-color 0.3s ease;
}

.expenseTable table tbody tr:hover {
  background-color: var(--content-bgColor); /* Light gray on hover */
}

/* Table Cells */
.expenseTable table td {
  padding: 12px;
  font-size: 14px;
  border: 1px solid var(--table-borderColor);
  text-align: center;
}
